.Background {
    margin: 0;
    padding: 0;
    background: #09203f;
    /* background: radial-gradient(circle, #537895 0%, #002e66 70%, #09203f 100%); */
    position: relative;
}

.volcanEffect {

    position: absolute;
    top: 0;
    left: 0;
    --duration: 10s;
    --easing: linear;
    --c-color-1: rgba(255, 163, 26, .7);
    --c-color-2: #1a23ff;
    --c-color-3: #e21bda;
    --c-color-4: rgba(255, 232, 26, .7);
    --c-shadow: rgba(255, 223, 87, .5);
    --c-shadow-inset-top: rgba(255, 223, 52, .9);
    --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
    --c-radial-inner: #ffd215;
    --c-radial-outer: #fff172;
    --c-color: #fff;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.volcanEffect .circleBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(var(--blur, 100px));
    background: var(--background, transparent);
    transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
    animation: var(--animation, none) var(--duration) infinite;
}

.circleBg.circle-1,
.circleBg.circle-9,
.circleBg.circle-10 {
    --background: var(--c-color-4);
}

.circleBg.circle-3,
.circleBg.circle-4 {
    --background: var(--c-color-2);
}

.circle.circle-5,
.circleBg.circle-7,
.circle.circle-6 {
    --background: var(--c-color-3);
}

.circleBg.circle-2,
.circleBg.circle-8,
.circleBg.circle-12 {
    --background: var(--c-color-1);
}

.circleBg.circle-1 {
    --x: 0vw;
    --y: 40vh;
    --animation: circle-1;
}

.circleBg.circle-2 {
    --x: 92vw;
    --y: 8vh;
    --animation: circle-2;
}

.circleBg.circle-3 {
    --x: 12vw;
    --y: 12vh;
    --animation: circle-3;
}

.circleBg.circle-4 {
    --x: 80vw;
    --y: 12vh;
    --animation: circle-4;
}

.circleBg.circle-5 {
    --x: 12vw;
    --y: 4vh;
    --animation: circle-5;
}

.circleBg.circle-6 {
    --x: 56vw;
    --y: 16vh;
    --animation: circle-6;
}

.circleBg.circle-7 {
    --x: 8vw;
    --y: 28vh;
    --animation: circle-7;
}

.circleBg.circle-8 {
    --x: 28vw;
    --y: 4vh;
    --animation: circle-8;
}

.circleBg.circle-9 {
    --x: 20vw;
    --y: 12vh;
    --animation: circle-9;
}

.circleBg.circle-10 {
    --x: 64vw;
    --y: 16vh;
    --animation: circle-10;
}

.circleBg.circle-11 {
    --x: 4vw;
    --y: 4vh;
    --animation: circle-11;
}

.circleBg.circle-12 {
    --x: 52vw;
    --y: 4vh;
    --animation: circle-12;
}

@keyframes circle-1 {
    33% {
        transform: translate(0vw, 16vh) translateZ(0);
    }

    66% {
        transform: translate(12vw, 64vh) translateZ(0);
    }
}

@keyframes circle-2 {
    33% {
        transform: translate(80vw, 10vh) translateZ(0);
    }

    66% {
        transform: translate(72vw, 48vh) translateZ(0);
    }
}

@keyframes circle-3 {
    33% {
        transform: translate(20vw, 12vh) translateZ(0);
    }

    66% {
        transform: translate(12vw, 4vh) translateZ(0);
    }
}

@keyframes circle-4 {
    33% {
        transform: translate(76vw, 12vh) translateZ(0);
    }

    66% {
        transform: translate(112vw, 8vh) translateZ(0);
    }
}

@keyframes circle-5 {
    33% {
        transform: translate(84vw, 28vh) translateZ(0);
    }

    66% {
        transform: translate(40vw, 32vh) translateZ(0);
    }
}

@keyframes circle-6 {
    33% {
        transform: translate(28vw, 16vh) translateZ(0);
    }

    66% {
        transform: translate(76vw, 56vh) translateZ(0);
    }
}

@keyframes circle-7 {
    33% {
        transform: translate(8vw, 28vh) translateZ(0);
    }

    66% {
        transform: translate(20vw, 60vh) translateZ(0);
    }
}

@keyframes circle-8 {
    33% {
        transform: translate(32vw, 4vh) translateZ(0);
    }

    66% {
        transform: translate(56vw, 20vh) translateZ(0);
    }
}

@keyframes circle-9 {
    33% {
        transform: translate(20vw, 12vh) translateZ(0);
    }

    66% {
        transform: translate(80vw, 8vh) translateZ(0);
    }
}

@keyframes circle-10 {
    33% {
        transform: translate(68vw, 20vh) translateZ(0);
    }

    66% {
        transform: translate(100vw, 28vh) translateZ(0);
    }
}

@keyframes circle-11 {
    33% {
        transform: translate(4vw, 4vh) translateZ(0);
    }

    66% {
        transform: translate(68vw, 20vh) translateZ(0);
    }
}

@keyframes circle-12 {
    33% {
        transform: translate(56vw, 0vh) translateZ(0);
    }

    66% {
        transform: translate(60vw, 32vh) translateZ(0);
    }
}