
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(83, 120, 149);
    background: radial-gradient(circle, rgba(83, 120, 149, 1) 0%, rgba(0, 46, 102, 1) 70%, rgba(9, 32, 63, 1) 100%); */
    transition: 0.5s;
  }
  
  .game {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .game-info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .game-info .btn-change-mode {
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border: none;
  }
  