@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(83, 120, 149);
  background: radial-gradient(circle, rgba(83, 120, 149, 1) 0%, rgba(0, 46, 102, 1) 70%, rgba(9, 32, 63, 1) 100%);
}

.container {
  display: grid;
  gap: 10px;
}

.board {
  display: grid;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
}




/* Animation of square */
.square {
  border: none;
  background: #d3d3d3;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  transition: .5s;
}

.square.select {
  background: #615f5f;
}

.square.winAnimation{
  animation: winAnimation .5s; 
}
/* ["red", "orange", "yellow", "green", "blue", "indigo"];
         */
@keyframes winAnimation {
  0%{
    background-color: red;
  }
  17%{
    background-color: orange;
  }
  34%{
    background-color: yellow;
  }
  51%{
    background-color: green;
  }
  68%{
    background-color: blue;
  }
  85%{
    background-color: indigo;
  }
}

/* XMark */
.popOut {
  animation: popOut .3s;
  transform: scale(0);
}

.popIn {
  animation: popIn .3s;
  transform: scale(1);
}

@keyframes popOut {
  from {
    transform: scale(1);
  }
}

@keyframes popIn {
  from {
    transform: scale(0);
  }
}

/* Animation of squeare */

.rowClues {
  display: grid;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colClues {
  display: grid;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.clue {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  margin: 5px;
  padding: 3px;
  pointer-events: none;
  user-select: none;
}

/* .clue div {
  margin: 2px
} */

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 5px;
}