@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.container_game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgb(83, 120, 149);
  background: radial-gradient(circle, rgba(83, 120, 149, 1) 0%, rgba(0, 46, 102, 1) 70%, rgba(9, 32, 63, 1) 100%);
}

.activeWindows {
  position: absolute;
  right: 32px;
  bottom: 20px;
}
.screen{
  width: 100vw;
  height: 100vh;
}

.actualScreen{
  position: absolute;
  transition: 1s;
}

.presentation {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation h1 {
  color: white;
  font-size: 80px;
  margin: 0;
  user-select: none;
}

.presentation h2 {
  color: #09203f;
  font-size: 28px;
  margin: 0;
  user-select: none;
}

.presentation .button_joinGame {
  width: 200px;
  height: 40px;
  margin-top: 8px;
  border: none;
  background: #d3d3d3;
  border-radius: 6px;
  font-size: 20px;
  transition: 0.5s;
  color: black;
}

.presentation .button_joinGame:hover {
  color: white;
  background: #09203f;
}