@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.container_game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgb(83, 120, 149);
  background: radial-gradient(circle, #537895 0%, #002e66 70%, #09203f 100%);
}

.activeWindows {
  position: absolute;
  right: 32px;
  bottom: 20px;
}
.screen{
  width: 100vw;
  height: 100vh;
}

.actualScreen{
  position: absolute;
  transition: 1s;
  transition-delay: 0.3s;
}

.presentation {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation h1 {
  color: #DBE9EE;
  font-size: 80px;
  margin: 0;
  user-select: none;
}

.presentation h2 {
  color: #09203f;
  font-size: 28px;
  margin: 0;
  user-select: none;
}

